<!DOCTYPE HTML>
<html>
    <head>
        <title>Search Available Room in Random Place</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/vue.min.js"></script>
        <script src="js/moment.min.js"></script>
    </head>
    <style>
            .loader {
              border: 5px solid #f3f3f3;
              border-radius: 50%;
              border-top: 5px solid #3498db;
              width: 50px;
              height: 50px;
              -webkit-animation: spin 2s linear infinite;
              animation: spin 2s linear infinite;
              margin: 10px
            }
            
            @-webkit-keyframes spin {
              0% { -webkit-transform: rotate(0deg); }
              100% { -webkit-transform: rotate(360deg); }
            }
            
            @keyframes spin {
              0% { transform: rotate(0deg); }
              100% { transform: rotate(360deg); }
            }
            </style>
    <script>
        var url_for_search = "http://localhost:3000/";

        var days = [
            {
                day:0,
                text:"Sunday"
            },
            {
                day:1,
                text:"Monday"
            },
            {
                day:2,
                text:"Tuesday"
            },
            {
                day:3,
                text:"Wednesday"
            },
            {
                day:4,
                text:"Thursday"
            },
            {
                day:5,
                text:"Friday"
            },
            {
                day:6,
                text:"Saturday"
            }
        ]
        var times = [];
        var m = moment("08:00","HH:mm");
        while (m.isBefore(moment("20:01","HH:mm"))){
            times.push({
                time:m.hour()+m.minute()/60,
                text:m.format("HH:mm")
            });
            m.add(30,"minutes");
        }

        function Search(){
            var day = $('#select_day')[0].value;
            var time = $('#select_time')[0].value;
            result_panel.loading = true;
            console.log(`?weekday=${day}&time=${time}`)
            $.ajax({
                url: url_for_search+`?weekday=${day}&time=${time}`,
                context: document.body
                }).done(function(data) {
                    console.log(data);
                    var result = [];
                    for(var key in data.result){
                        result.push({
                            duration:Number(key),
                            location:data.result[key]
                        })
                    }
                    result.sort((a,b)=>{return a.duration<b.duration})
                    console.log(result)
                    result_panel.results = result;
                    if(data.query.weekday == document.getElementById('select_day').value && data.query.time == document.getElementById('select_time').value){
                        result_panel.loading = false;
                    }
            });
        }

    </script>
    <body>
        <div class="container">
            <h2> Find Available Room</h2>
        <p> Day:
            <select id="select_day">
                <option v-for="day in days" v-bind:value="day.day">{{day.text}}</option>
            </select>
        </p>

        <p> Start Time:
            <select id="select_time">
                <option v-for="time in times" v-bind:value="time.time">{{time.text}}</option>
            </select>
        </p>
        <button onclick="Search()" class="btn btn-primary">Search</button>

        <div class="panel-group" id="result" style="margin-top:10px">
            <div class="loader" v-if="loading"></div>
            <div class="panel panel-default card" v-if="!loading&&!results">
                <div class="panel-heading card-header">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" href="#demo">You Result Goes Here (Number of available rooms)</a>
                    </h4>
                </div>
                <div class="panel-collapse collapse card-block" id="demo">
                    <ul class="list-group">
                    <li class="list-group-item">Available rooms</li>
                    </ul>
                    <div class="panel-footer"></div>
                </div>
                </div>
            <div class="panel panel-default card" v-for="(result,time) in results">
              <div class="panel-heading card-header">
                <h4 class="panel-title">
                  <a data-toggle="collapse" :href="GetHref(time)">{{time}} hours free ({{result.length}})</a>
                </h4>
              </div>
              <div class="panel-collapse collapse card-block" :id="GetId(time)">
                <ul class="list-group">
                  <li class="list-group-item" v-for="location in result">{{location}}</li>
                </ul>
                <div class="panel-footer"></div>
              </div>
            </div>
          </div>
        </div>
    </body>

    <script>
var day_pick = new Vue({
  el: '#select_day',
  data: {
    days:days 
  }
})
var time_pick = new Vue({
  el: '#select_time',
  data: {
    times:times 
  }
})

var result_panel = new Vue({
  el: '#result',
  data: {
    results:false,
    loading:false
  },
  methods:{
    GetHref:function GetHref(key){
        return '#c'+key.replace('.','_');
    },
    GetId:function GetId(key){
        return 'c'+key.replace('.','_');
    }
    }
})
    </script>
</html>